@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height:100vh;
    margin:0;
    font-family: Roboto, sans-serif;
    background-color: rgb(129, 67, 67);
}

ul li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255)
}

button {
    padding: 8px 16px;
    font-family: Roboto, sans-serif;
    border:none;
    border-radius: 8px;
    color:white;
    background:#f63848;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

.header {
    display: flex;
    padding: 1rem 1.5rem;
    /* box-shadow: 2px 3px 2px #9e9999; */
    background-color: rgb(129, 67, 67);
    
    justify-content: space-between;
    align-items: center;
    position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: light   
}

.hamburger {
  display: none;
}

.headertext {
    color: #ffffff;
    font-weight: bold;
}

.footer {
    height:5vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:15px;
    background-color: rgb(129, 67, 67);
}

.copyright {
    font-size:13px;
    color: #F9FAF8;
}

.content {
    flex:1;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    max-width: 900px;
    background-color: rgb(129, 67, 67);
    margin: 2rem auto 1rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 0.6rem;
    height: 50px;
    width: 100px;
    border: none;
    font-size: 1.4rem;
    border-radius: 15px;
    color: #fff;
    background-color: rgb(235, 13, 13);
    margin-bottom: 1rem;
}

.thumbnail {
    width:200px;
    height:200px 
}

.thetexts {
    display:flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    gap:10px;
} 

.BIGTEXT {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0.5rem;
}

.SMALLERTEXT {
    margin-bottom: 0.5rem;
    font-size: 18px;
    color: #E5E7EB;
}

.section2 {
    font: white;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    background-color: rgb(192, 76, 76);
    text-align: center;
}

.images {
    padding: 40px;
    margin-bottom: 1rem;
    background-color: rgb(192, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingo {
    border-radius: 25px;
    max-width: 30%;
    max-height: 30%;
}


.info {
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column; */
    max-width: 400px;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    background-color: rgb(172, 68, 68);
    margin: auto auto auto 1rem ;
}

.quote {
    color:white;
    font-size: 30px;
    display: flex;
    gap:8px;
    flex-direction: column;
}

.smallerquote {
    font-weight: bold;
    font-size:16px;
    align-self: flex-end;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 76, 76);
    height:200px;
}

.darkblueybutton {
    background-color: transparent;
    font: white;
    border: 3px solid white;
    border-radius: 20px;
}

.subactiontext {
    font-weight: 1px;
    font-size: 13px;
}

.signupzone {
    background:#eb4351d2;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding:25px;
    border-radius: 5px;
    height:100px;
    width:600px;
    max-width: 600px;
}

.actiontext {
    color:white;
    display: flex;
    font-weight: lighter;
    gap:3px;
    flex-direction: column;
}

.infotext {
    margin-top: 1rem;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff
}

.text {
    font-size: 20px;
    color: #cecece;
    font-weight: lighter;
    font-style: italic;
}